@model FinalBlog.ViewModels.Article.ArticleListViewModel
@{
    ViewData["Title"] = "Список статей";

    var isSuperUser = User.IsInRole("Администратор") || User.IsInRole("Модератор");
    var currentUserId = User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value;

    string labelClasses = isSuperUser
        ? "col-sm-4 mb-0 font-m75 form-text text-end"
        : "col mb-0 font-m75 form-text text-end";
}

<h3 class="mt-5">@Model.Title</h3>

<div class="row justify-content-center">
    @foreach (var post in Model.Articles)
    {
        <div class="card m-3 col-10">
            <div class="card-body">
                <a class="fs-5 mb-0 link-primary text-decoration-none" asp-action="View"
                   asp-controller="Article" asp-route-id="@post.Id">
                    @post.Title
                </a>
                <div class="row">
                    <div class="col-sm-8">
                        <a asp-action="Info" asp-controller="User" asp-route-id="@post.Author.Id">
                            <span class="form-text text-end mb-1"> <b>@post.Author.FullName</b></span>
                        </a>
                        <span> Опубликовано </span><label asp-for="@post.CreationTime">@post.CreationTime</label><br />
                        <span>Комментариев: @post.CommentsCount</span>
                    </div>
                    <div class="col-sm-4">
                        @if (isSuperUser || (!isSuperUser && currentUserId == post.AuthorId))
                        {
                            <form method="post" asp-action="Delete" asp-controller="Article" asp-route-id="@post.Id">
                                <input type="hidden" name="userId" value="@currentUserId" />
                                <div class="btn-group">
                                    <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Article" asp-route-id="@post.Id">
                                        Редактировать
                                    </a>
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                                </div>
                            </form>
                        }
                        Теги:
                        @foreach (var tag in post.Tags)
                        {
                            <a asp-action="Tag" asp-controller="Article" asp-route-id="@tag.Id">
                                <span class="badge tag-badge">@tag.Name</span>
                            </a>
                        }

                        <!-- <a onclick="document.getElementById('(tag.Id)').submit()"
                        <form class="d-none" id="tag.Id" method="get" asp-action="Index" asp-controller="Article" asp-route-tagId="tag.Id"></form>*/-->

                    </div>
                </div>
            </div>
        </div>
    }
</div>