@model FinalBlog.ViewModels.Comment.CommentListViewModel
@{
    ViewData["Title"] = "Список комментариев";

    var isSuperUser = User.IsInRole("Администратор") || User.IsInRole("Модератор");
    var currentUserId = User.Claims.FirstOrDefault(c => c.Type == "UserID")?.Value;
}

<h3 class="mt-5">Все комментарии (новые вверху)</h3>
<div class="row justify-content-center">
    @foreach (var comment in Model.CommentList)
    {
        <div class="card m-3 col-9">
            <div class="card-body">
                <div>
                    <p>
                        <span class="text-muted">Дата и время создания: </span> @comment.CreationTime
                    </p>
                    <span class="text-muted">Статья:</span>
                    <a class="mb-0 me-4 link-primary" asp-action="View" asp-controller="Article" asp-route-id="@comment.ArticleId">
                        @comment.Article.Title
                    </a>
                    <span class="text-muted">Пользователь:</span>
                    <a class="mb-0 link-primary" asp-action="Info" asp-controller="User" asp-route-id="@comment.AuthorId">
                            @comment.Author.FirstName @comment.Author.LastName
                    </a>
                </div>

                <p>@comment.Text</p>
                @if (isSuperUser || currentUserId == comment.AuthorId)
                {
                    <div class="d-flex justify-content-end">
                        <form method="post" asp-action="Delete" asp-controller="Comment" asp-route-id="@comment.Id">
                            <input type="hidden" name="userId" value="@currentUserId" />

                            <div class="btn-group">
                                <a class="btn btn-outline-success btn-sm" asp-action="Edit" asp-controller="Comment"
                                    asp-route-id="@comment.Id" asp-route-returnUrl="@Context.Request.Path">
                                    Редактировать
                                </a>
                                <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    }
</div>